body {
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    margin: 0;
    color: white;
}

canvas {
    width: 95%;
    max-width: 420px;
    height: 60vh;
    background: #87CEEB;
    border-radius: 12px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background: #ff4e8a;
    color: white;
    font-size: 16px;
}

.jump-btn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    font-size: 20px;
    background: #ffcc00;
    color: black;
}
