body {
    text-align: center;
    font-family: Arial;
    background: linear-gradient(#4facfe, #00f2fe);
    color: white;
    margin: 0;
}

canvas {
    width: 95%;
    max-width: 420px;
    height: 60vh;
    background: skyblue;
    border-radius: 15px;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background: #ff4e8a;
    color: white;
}

.jump-btn {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 15px;
    font-size: 18px;
}
